$font-stack: 'Lato', sans-serif;
$primary-color: #ccc;
$half: 50%;
$link-color: #fff;
$blue: #005499;
$offwhite: #fafafa;

*{
	margin-left: 0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
}
body{
	font-family: $font-stack;
}
.half-screen-right{
	float: right;
	width: $half;
	height: 100vh;

}
.half-screen-left{
	float: left;
	width: $half;
	height: 100vh;
	background-color: $offwhite;
}
header{
	width: 100%;
	height: 100vh;
	text-align: center;
	background-color: $blue;
} 
.frontpage-header{
	ul{
		width: 100%;
		padding: 0;
	}
	li{
		list-style:none;
		height: 25vh;
		line-height: 25vh;
		width: 100%;
		background-color: $blue;
		a{
			text-decoration: none;
			color: $link-color;
			display: block;
			font: {
				weight: 100;
				size: 2em;
			}
		}
	}

	li:first-child{
		background-color: darken($blue, 5%);
		
	}
}

main{
	width: 100%;
	background-color: $offwhite;
	height: 100vh;
}
.logo{
	width: $half;
	margin: 0 auto;
	padding-top: 60px;

}
.logo img{
	width: 100%;
}

.ui-view-container {
  position: relative;
}

.toggle-left[ui-view].ng-enter,
.toggle-left[ui-view].ng-enter-active,
.toggle-left[ui-view].ng-leave, 
.toggle-left[ui-view].ng-active,
.toggle-right[ui-view].ng-enter,
.toggle-right[ui-view].ng-enter-active,
.toggle-right[ui-view].ng-leave, 
.toggle-right[ui-view].ng-active{
	opacity: 1;
	 position: absolute;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.toggle-left[ui-view="viewA"].ng-enter{
	opacity: 1;
	left: 100%;
}
.toggle-left[ui-view="viewB"].ng-enter{
	opacity: 1;
	left: 150%;
}
.toggle-left[ui-view="viewA"].ng-enter-active {
	opacity: 1;
    left: 0%;
}
.toggle-left[ui-view="viewB"].ng-enter-active {
	opacity: 1;
    left: 50%;
}
.toggle-left[ui-view="viewA"].ng-leave {
	opacity: 1;
    left: 0%;
}
.toggle-left[ui-view="viewA"].ng-leave-active {
	opacity: 1;
    left: -100%;
}
.toggle-left[ui-view="viewB"].ng-leave {
	opacity: 1;
    left: 50%;
}

.toggle-left[ui-view="viewB"].ng-leave-active {
	opacity: 1;
    left: -50%;
}
/*slide fra venstre til højre */
.toggle-right[ui-view="viewA"].ng-enter{
	opacity: 1;
	left: -100%;
}
.toggle-right[ui-view="viewB"].ng-enter{
	opacity: 1;
	left: -50%;
}
.toggle-right[ui-view="viewA"].ng-enter-active {
	opacity: 1;
    left: 0%;
}
.toggle-right[ui-view="viewB"].ng-enter-active {
	opacity: 1;
    left: 50%;
}
.toggle-right[ui-view="viewA"].ng-leave {
	opacity: 1;
    left: 0%;
}
.toggle-right[ui-view="viewA"].ng-leave-active {
	opacity: 1;
    left: 100%;
}
.toggle-right[ui-view="viewB"].ng-leave {
	opacity: 1;
    left: 50%;
}

.toggle-right[ui-view="viewB"].ng-leave-active {
	opacity: 1;
    left: 150%;
}

/* MEDIA screen max 1024px____________________________________________________*/
@media only screen and (max-width: 1024px) {


}

/* MEDIA screen max 768px_____________________________________________________*/
@media only screen and (max-width: 768px) {
}

/* MEDIA screen max 480px_____________________________________________________*/
@media only screen and (max-width: 480px) {

}


/* MEDIA screen max 320px_____________________________________________________*/
@media only screen and (max-width: 320px) {

}