@charset "UTF-8";
* {
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0; }

body {
  font-family: "Lato", sans-serif; }

.half-screen-right {
  float: right;
  width: 50%;
  height: 100vh; }

.half-screen-left {
  float: left;
  width: 50%;
  height: 100vh;
  background-color: #fafafa; }

header {
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: #005499; }

.frontpage-header ul {
  width: 100%;
  padding: 0; }
.frontpage-header li {
  list-style: none;
  height: 25vh;
  line-height: 25vh;
  width: 100%;
  background-color: #005499; }
  .frontpage-header li a {
    text-decoration: none;
    color: #fff;
    display: block;
    font-weight: 100;
    font-size: 2em; }
.frontpage-header li:first-child {
  background-color: #004680; }

main {
  width: 100%;
  background-color: #fafafa;
  height: 100vh; }

.logo {
  width: 50%;
  margin: 0 auto;
  padding-top: 60px; }

.logo img {
  width: 100%; }

.ui-view-container {
  position: relative; }

.toggle-left[ng-class="toggleClass"].ng-enter {
  position: absolute;
  -webkit-animation: enter_sequence 0.3s linear;
  /* Safari/Chrome */
  animation: enter_sequence 0.3s linear;
  /* IE10+ and Future Browsers */ }

.toggle-left[ng-class="toggleClass"].ng-enter-active {
  opacity: 1; }

.toggle-left[ng-class="toggleClass"].ng-leave {
  position: absolute;
  -webkit-animation: leave_sequence 0.3s linear;
  /* Safari/Chrome */
  animation: leave_sequence 0.3s linear;
  /* IE10+ and Future Browsers */ }

.toggle-left[ng-class="toggleClass"].ng-leave-active {
  opacity: 1; }

@-webkit-keyframes enter_sequence {
  from {
    left: 1000px; }
  to {
    left: 0; } }
@keyframes enter_sequence {
  from {
    left: 1000px; }
  to {
    left: 0; } }
@-webkit-keyframes leave_sequence {
  from {
    left: 0; }
  to {
    left: -1000px; } }
@keyframes leave_sequence {
  from {
    left: 0; }
  to {
    left: -1000px; } }
/* left to right - n├Ñr man er inde i subviews, skal den slide ind fra venstre til h├©jre */
.toggle-right[ng-class="toggleClass"].ng-enter {
  position: absolute;
  -webkit-animation: left_enter_sequence 0.3s linear;
  /* Safari/Chrome */
  animation: left_enter_sequence 0.3s linear;
  /* IE10+ and Future Browsers */ }

.toggle-right[ng-class="toggleClass"].ng-enter-active {
  opacity: 1; }

.toggle-right[ng-class="toggleClass"].ng-leave {
  position: absolute;
  -webkit-animation: left_leave_sequence 0.3s linear;
  /* Safari/Chrome */
  animation: left_leave_sequence 0.3s linear;
  /* IE10+ and Future Browsers */ }

.toggle-right[ng-class="toggleClass"].ng-leave-active {
  opacity: 1; }

@-webkit-keyframes left_enter_sequence {
  from {
    left: -1000px; }
  to {
    left: 0; } }
@keyframes left_enter_sequence {
  from {
    left: -1000px; }
  to {
    left: 0; } }
@-webkit-keyframes left_leave_sequence {
  from {
    left: 0; }
  to {
    left: 1000px; } }
@keyframes left_leave_sequence {
  from {
    left: 0; }
  to {
    left: 1000px; } }
/* MEDIA screen max 1024px____________________________________________________*/
/* MEDIA screen max 768px_____________________________________________________*/
@media only screen and (max-width: 768px) {
  header {
    width: 100%; }

  main {
    width: 100%; } }
/* MEDIA screen max 480px_____________________________________________________*/
/* MEDIA screen max 320px_____________________________________________________*/

/*# sourceMappingURL=style.css.map */
